@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/custom-styles/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/custom-styles/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/custom-styles/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/custom-styles/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/custom-styles/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/custom-styles/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/custom-styles/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/custom-styles/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprum_regular.ttf");
  font-weight: 400;
  font-style: normal;
}
/* line 2, ../sass/custom-styles/_base.scss */
h3 {
  line-height: 25px;
}

/* line 6, ../sass/custom-styles/_base.scss */
h1, h2, h3 {
  font-family: Cuprum;
}

/* line 10, ../sass/custom-styles/_base.scss */
a {
  color: #3B7BB9;
}

/* line 14, ../sass/custom-styles/_base.scss */
body {
  font-family: Arial,Helvetica,sans-serif;
  background-image: url("../img/body_bg_default.png") !important;
  line-height: 18px;
  font-size: 13px;
}

/* line 21, ../sass/custom-styles/_base.scss */
p {
  line-height: 18px;
}

/* line 2, ../sass/custom-styles/_layout.scss */
#foo {
  content: 'No Media Queries';
}
@media (min-width: 543px) {
  /* line 2, ../sass/custom-styles/_layout.scss */
  #foo {
    content: 'Basic Media Query';
  }
}
@media (min-width: 456px) and (max-width: 794px) {
  /* line 2, ../sass/custom-styles/_layout.scss */
  #foo {
    content: 'Paired Media Query';
  }
}

/* line 14, ../sass/custom-styles/_layout.scss */
#wrapper_fullscreen {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, C:/Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
#wrapper_fullscreen:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 18, ../sass/custom-styles/_layout.scss */
.container-fluid {
  background-color: #ffffff;
  padding: 0px 1em 20px 1em;
  float: left;
  margin-top: 10px;
  border-radius: 10px 10px 0px 0px;
}

/* line 28, ../sass/custom-styles/_layout.scss */
.banner {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  margin-right: 0;
}

/* line 33, ../sass/custom-styles/_layout.scss */
.banner img {
  width: 100%;
  box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7);
}

/* ╨Т╨╡╤А╤Е header */
/* line 2, ../sass/custom-styles/_header.scss */
.layouts-header {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  margin-right: 0;
  margin-top: 10px;
}

/* line 8, ../sass/custom-styles/_header.scss */
.layouts-header-top {
  background-image: url("../img/header_bg_default.png") !important;
  background-color: transparent;
  min-height: 70px;
  margin-bottom: 10px;
}

/* line 15, ../sass/custom-styles/_header.scss */
.logo-header {
  float: left;
}

/* line 19, ../sass/custom-styles/_header.scss */
.logo-header img {
  width: 250px;
  margin-right: 0;
}

/* line 24, ../sass/custom-styles/_header.scss */
.info-header {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  margin-right: 0;
  font-weight: inherit;
  text-transform: inherit;
  font-size: 18px;
  color: #666;
  padding: 10px;
  margin: 10px;
}

/* ╨Ы╨╡╨▓╨╛╨╡ ╨╝╨╡╨╜╤О */
/* line 2, ../sass/custom-styles/_menu.scss */
.left-menu {
  float: left;
  width: 100%;
  background-color: #DEC4C4;
  margin-top: 10px;
  background-image: url("../img/module_bg_default.png");
  padding-bottom: 20px;
}
/* line 10, ../sass/custom-styles/_menu.scss */
.left-menu li {
  border-bottom: 1px solid #DDD;
  list-style: outside none none;
  font-weight: inherit;
  padding-left: 20px;
  line-height: 25px;
}
/* line 17, ../sass/custom-styles/_menu.scss */
.left-menu li a {
  font-weight: inherit;
  text-decoration: none;
}
/* line 23, ../sass/custom-styles/_menu.scss */
.left-menu h3 {
  font-size: 18px;
  color: #666666;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

/* line 1, ../sass/custom-styles/_leftmodule.scss */
.left-module {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
}

/* line 5, ../sass/custom-styles/_leftmodule.scss */
.left-modules h3 {
  font-weight: inherit;
  text-transform: inherit;
  font-size: 18px;
  color: #666666;
  padding: 10px;
  margin: 0px 10px 10px 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #ccc;
}

/* line 17, ../sass/custom-styles/_leftmodule.scss */
.left-modules {
  background-color: #BDA9A9;
  margin-top: 10px;
  background-image: url("../img/module_bg_default.png");
  float: left;
  width: 100%;
}

/* line 25, ../sass/custom-styles/_leftmodule.scss */
.left-modules p {
  padding-right: 10px;
}

/* line 29, ../sass/custom-styles/_leftmodule.scss */
.left-modules .row {
  margin-bottom: 30px;
  padding-left: 10px;
}

/* line 34, ../sass/custom-styles/_leftmodule.scss */
.left-modules img {
  margin: 0px 10px 10px 0px;
  float: left;
}

/* line 1, ../sass/custom-styles/_content.scss */
.content {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  margin-right: 0;
  margin-top: 10px;
}

/* line 7, ../sass/custom-styles/_content.scss */
.content img {
  border: 0px none;
  float: left;
  margin: 0px 10px 10px 0px;
}

/* line 13, ../sass/custom-styles/_content.scss */
.content h2 {
  font-weight: inherit;
  text-transform: inherit;
  font-size: 18px;
  color: #666;
  padding: 10px;
  margin-bottom: 10px;
  background-image: url("../img/module_bg_default.png");
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

/* line 25, ../sass/custom-styles/_content.scss */
.content p {
  padding-left: 10px;
}

/* line 1, ../sass/custom-styles/_blog.scss */
.news {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  min-height: 350px;
  margin-right: 0;
  margin-top: 10px;
}

/* line 8, ../sass/custom-styles/_blog.scss */
.blog {
  margin-bottom: 20px;
  padding-left: 10px;
  float: left;
}

/* line 14, ../sass/custom-styles/_blog.scss */
.blog img {
  border: 0px none;
  float: left;
  margin: 0px 10px 10px 0px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 84px;
}

/* line 24, ../sass/custom-styles/_blog.scss */
.blog h3 {
  text-transform: inherit;
  font-weight: inherit;
  color: #3B7BB9;
  font-size: 20px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}

/* line 35, ../sass/custom-styles/_blog.scss */
.blog a {
  text-decoration: none;
  color: #3B7BB9;
  font-size: 24px;
}

/* line 41, ../sass/custom-styles/_blog.scss */
.blog a:hover {
  text-decoration: underline;
}

/* line 45, ../sass/custom-styles/_blog.scss */
.news h2 {
  font-weight: inherit;
  text-transform: inherit;
  font-size: 18px;
  color: #666;
  padding: 10px;
  margin-bottom: 10px;
  background-image: url("../img/module_bg_default.png");
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

/* line 1, ../sass/custom-styles/_footer.scss */
.footer {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  min-height: 200px;
  margin-right: 0;
  background-image: url("../img/footer_bg_default.png") !important;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

/* line 11, ../sass/custom-styles/_footer.scss */
.footer-module {
  width: 20%;
  float: left;
  margin-right: 5.26316%;
  margin: 2.5%;
}

/* line 16, ../sass/custom-styles/_footer.scss */
.footer-module h3 {
  font-size: 14px;
  color: #ffffff;
}

/* line 21, ../sass/custom-styles/_footer.scss */
.footer-module p {
  color: #999;
}

/* line 25, ../sass/custom-styles/_footer.scss */
#footer-menu {
  clear: both;
  text-align: center;
}

/* line 30, ../sass/custom-styles/_footer.scss */
#footer-menu ul {
  margin: 0px;
  line-height: normal;
}

/* line 35, ../sass/custom-styles/_footer.scss */
#footer-menu li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

/* line 41, ../sass/custom-styles/_footer.scss */
#footer-menu li a {
  display: inline;
  line-height: normal;
  padding: 0px 10px;
  text-decoration: underline;
  color: #ffffff;
  font-size: 85%;
}

/* line 50, ../sass/custom-styles/_footer.scss */
#footer-copyright {
  text-align: center;
  font-size: 85%;
  color: #666 !important;
}
