// Простые теги
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h3{
	line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $fontHeaders;
}

a {
	color: $color_main2;
}

body {
    font-family: Arial,Helvetica,sans-serif;
	background-image: url("../img/body_bg_default.png");
	line-height: 18px;
	font-size: 13px;
	margin: 0 2%;
}

/*
p {
	line-height: 18px;
}
*/