.content{ 
	@include span(last 8 of 12); 
	margin-right: 0; 
	margin-top: 10px;
}

.content img{ 
	border: 0px none;
	float: left;
	margin: 10px 10px 10px 0px;
}

.content h2{
    font-weight: inherit;
    text-transform: inherit;
    font-size: 18px;
    color: #666;
    padding: 10px;
    margin-bottom: 10px;
    background-image: url("../img/module_bg_default.png");
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}