.footer {
	@include container(1200px); 
	min-height: 200px; 
	background-image: url("../img/footer_bg_default.png");
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.footer__columns {
	@include container;
}

.column {
	padding: 20px;
	@include breakpoint (800px) {
		@include span(20%);
		margin: 2.5%;
	}
	
	h3{
		font-size: 14px;
		color: $color_main7;
	}
	
	p{
		color: $color_main9;
	}
}

.footer__menu {
    clear: both;
    text-align: center;
	
	ul {
		margin: 0px;
		line-height: normal;
	}
	
	li {
		display: inline;
		margin: 0px;
		padding: 0px;
	}
	
	li a {
		display: inline;
		line-height: normal;
		padding: 0px 10px;
		text-decoration: underline;
		color: $color_main7;
		font-size: 85%;
	}
	
	.copyright {
		text-align: center;
		font-size: 85%;
		color: $color_main3;
	}
	
}