.footer{
	@include container(1200px); 
	min-height: 200px; 
	background-image: url("../img/footer_bg_default.png");
	border-radius: 0px 0px 10px 10px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.footer-module {
	@include breakpoint (600px) {
		@include span(20%);
		margin: 2.5%;
	}	
}

.footer-module h3{
	font-size: 14px;
	color: $color_main7;
}

.footer-module p{
	color: $color_main9;
}

#footer-menu{
    clear: both;
    text-align: center;
}

#footer-menu ul{
    margin: 0px;
    line-height: normal;
}

#footer-menu li{
    display: inline;
    margin: 0px;
    padding: 0px;
}

#footer-menu li a{
    display: inline;
    line-height: normal;
    padding: 0px 10px;
	text-decoration: underline;
	color: $color_main7;
	font-size: 85%;
}

#footer-copyright{
    text-align: center;
    font-size: 85%;
	color: $color_main3;
}