/* Верх header */
.layouts-header{ 
	@include span(100%);
	margin-right: 0;
	margin-top: 10px;
}

.layouts-header-top{
    background-image: url("../img/header_bg_default.png") !important;
	background-color: transparent;
	min-height: 70px;
	margin-bottom: 10px;
}

.logo-header{
	float: left;
}

.logo-header img{
	width: 250px;
	margin-right: 0;
}

.info-header{ 
	@include span(last 3 of 12);
	margin-right: 0;
	font-weight: inherit;
	text-transform: inherit;
	font-size: 18px;
	color: #666;
	padding: 10px;
	margin: 10px;
}