/* Верх header */
.layouts-header { 
	@include span(100%);
	margin-right: 0;
	margin-top: 10px;
}

.layouts-header-top {
	@include container;
	background-image: url("../img/header_bg_default.png");
	background-color: transparent;
	min-height: 70px;
	margin-bottom: 10px;
}

.logo-header{
	float: left;
}

.logo-header img{
	//width: 250px;
	@include span(12 of 12);
	max-width: 100%;
}


.info-header{ 
	font-size: 18px;
	color: $color_main3;
	padding: 10px;
	margin: 10px;
}

.info-header {
	/*
	@include breakpoint($ExtraSmallDevices) {
		@include span(last 12 of 12);
		margin-right: 0;
	}
	
	@include breakpoint($SmallDevices) {
		@include span(last 6 of 12);
		margin-right: 0;
	}

	@include breakpoint($MediumDevices) {
		@include span(last 3 of 12);
		margin-right: 0;
		display: none;
	}
  
	@include breakpoint($LargeDevices) {
		@include span(last 3 of 12);
		margin-right: 0;
	}*/
	
	@include span(12 of 12);
	text-align: center;
	white-space: nowrap; 
	@include breakpoint (750px) {
		@include span(last 4 of 12);
		text-align: right;
	}
	
}
