/* Верх header */
.header { 
	@include container;
	margin-right: 0;
	margin-top: 10px;
	background-image: url("../img/header_bg_default.jpg");
	background-color: transparent;
	min-height: 70px;
	margin-bottom: 10px;
	padding: 5px;
}

.header__logo {
	float: left;
	img {
		@include span(12 of 12);
		max-width: 100%;
	}
}

.header__contacts { 
	font-size: 18px;
	color: $color_main3;
	padding: 10px;
	margin: 10px;
	@include span(12 of 12);
	text-align: center;
	white-space: nowrap; 
	@include breakpoint (750px) {
		@include span(last 4 of 12);
		text-align: right;
	}	
}