
#foo{
  content: 'No Media Queries';

  @include breakpoint($basic){
    content: 'Basic Media Query';
  }

  @include breakpoint($pair){
    content: 'Paired Media Query';
  }
}

#wrapper_fullscreen{
	@include container(1200px);
}

.container-fluid{
	background-color: #ffffff;
	padding: 0px 1em 20px 1em;
	float: left;
	margin-top: 10px;
	border-radius: 10px 10px 0px 0px;
}



.banner{ 
	@include span(100%);  
	margin-right: 0; 
}

.banner img{ 
	width: 100%;
	box-shadow: 0px 0px 2px rgba(100, 100, 100, 0.7);
}