.left-module{
	@include span( 4 of 12); 
}

.left-modules h3{
	font-weight: inherit;
	text-transform: inherit;
	font-size: 18px;
	color: #666666;
	padding: 10px;
	margin: 0px 10px 10px 0px;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #ccc;
}

.left-modules{
	background-color: #BDA9A9;
	margin-top: 10px;
	background-image: url("../img/module_bg_default.png");
	float: left;
	width: 100%;
	padding-top: 10px;
}

.left-modules p{
	padding-right: 10px;
}

.left-modules .row{
	margin-bottom: 30px;
	padding-left: 10px;
}

.left-modules img{
	margin: 0px 10px 10px 0px;
	float: left;
}