.left-module{

}

.left-modules h3{
	font-size: 18px;
	color: $color_main3;
	padding: 10px;
	margin: 0px 10px 10px 0px;
	background-color: $color_main7;
	border-bottom: 1px solid $color_main1;
	border-right: 1px solid $color_main1;
}

.left-modules {
	//@include span(isolate 4 of 12 at 1); 
	background-color: $color_main8;
	margin-top: 10px;
	background-image: url("../img/module_bg_default.png");
	float: left;
	width: 100%;
	padding-top: 10px;
}

.left-modules p{
	padding-right: 10px;
}

.left-modules .row{
	margin-bottom: 30px;
	padding-left: 10px;
}

.left-modules img{
	margin: 0px 10px 10px 0px;
	float: left;
}