/* Левое меню */
.left-menu{
	float: left;
	width: 100%; 
	background-color: $color_left_menu_background;
	margin-top: 10px;
	background-image: url("../img/module_bg_default.png");
	padding-bottom: 20px;
	
	
	
	ul{
		padding: 10px;
		
		li{
			border-bottom: 1px solid #dddddd;
			list-style: outside none none;
			font-weight: inherit;
			padding-left: 10px;
			line-height: 25px;

			a{
				font-weight: inherit;
				text-decoration: none;
			}
			
			a:hover{
				text-decoration: underline;
				color: #969696;
			}
		}
	}
	
	
	h3{
		font-size: 18px;
		color: #666666;
		padding: 10px;
		margin: 10px;
		background-color: #ffffff;
		border-bottom: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
	}
}
