/* Левое меню */
.left-menu{
	float: left;
	width: 100%; 
	background-color: #DEC4C4;
	margin-top: 10px;
	background-image: url("../img/module_bg_default.png");
	padding-bottom: 20px;
	
	li {
		border-bottom: 1px solid #DDD;
		list-style: outside none none;
		font-weight: inherit;
		padding-left: 20px;
		line-height: 25px;
		
		a {
			font-weight: inherit;
			text-decoration: none;
		}
	}
	
	h3 {
		font-size: 18px;
		color: #666666;
		padding: 10px;
		margin: 10px;
		background-color: #ffffff;
		border-bottom: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
	}
}
