.page__aside {

}

.modules {
	
	@include container;
	@include breakpoint (600px) {
		@include span(4 of 12);
	}
	
	background-color: $color_main8;
	margin-top: 10px;
	background-color: $color_main10;
	float: left;
	padding-top: 10px;
	
	
	.modules__item {
		margin-bottom: 30px;
		padding-left: 10px;
	
	h3 {
		font-size: 18px;
		color: $color_main3;
		padding: 10px;
		margin: 0px 10px 10px 0px;
		background-color: $color_main7;
		border-bottom: 1px solid $color_main1;
		border-right: 1px solid $color_main1;
	}
	
	p {
		padding-right: 10px;
	}
	

	
	img {
		margin: 0px 10px 10px 0px;
		float: left;
		max-width: 100%;
	}
}
	
}