@font-face {
    font-family: Cuprum;
    src: url('../fonts/cuprum_regular.ttf');
	font-weight: 400;
    font-style: normal;
}

$color1: red;
$color2: red;

$color_left_menu_background: #dec4c4;
$blog_h3_color:				 #3B7BB9;
$blog_h3_border_bottom:		 #cccccc;
$blog_a_color:				 #3b7bb9;

// Your basic media queries, min-width and min/max width, are super easy!
$basic: 543px;
$pair: 456px 794px;

$fontHeaders: Cuprum;
