@font-face {
    font-family: Cuprum;
    src: url('../fonts/cuprum_regular.ttf');
	font-weight: 400;
    font-style: normal;
}

$color_main1:	#cccccc;
$color_main2:	#3b7bb9;
$color_main3:	#666666;
$color_main4:	#dec4c4;
$color_main5:	#dddddd;
$color_main6:	#969696;
$color_main7:	#ffffff;
$color_main8:	#bda9a9;
$color_main9:	#999999;
$color_main10:	#f4f4f4;
$color_main11:	#343434;
$color_main12:	#e1e1e1;


// Your basic media queries, min-width and min/max width, are super easy!
$ExtraSmallDevices: 0px 768px;
$SmallDevices:		768px 992px;
$MediumDevices:		992px 1200px;
$LargeDevices:		1200px;

$fontHeaders: Cuprum;
